<img src="assets/logo.png" alt="banniere ISET">
<div>
    <img src="assets/isetch.png" alt="Logo ISET" class="logo">
    <strong class="text-center">INSTITUT SUPÉRIEUR DES ETUDES TECHNOLOGIQUES DE CHARGUIA</strong>

</div>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="">Nouveautés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Institut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Départements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Formation</a>
          </li>
        </ul>
          <button class="btn btn-info" type="button" >Espace Extranet</button>
      </div>
    </div>
  </nav>